* {
    font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

#page {
    height: 100%;
    background-color: #535354;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

header {
    position: relative;
    top: 0;
    line-height: 0;
    width: 100%;
    background-color: rgb(94, 171, 162);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    color: white;
    letter-spacing: 0.5px;
}

#start,
#reset,
#finish {
    position: relative;
    top: 120px;
    line-height: 70px;
    width: 250px;
    background-color: rgb(94, 171, 162);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

#start:hover,
#reset:hover,
#finish:hover,
#settings:hover {
    background-color: white;
    color: rgb(94, 171, 162);
}

#reset {
    margin-top: 20px;
    display: none;
}

#finish {
    display: none;
}

.information {
    background-color: rgb(94, 171, 162);
    position: relative;
    top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.form {
    margin-top: 20px;
    width: 400px;
    height: 250px;
    /*display: none;*/
}

.congratulations {
    height: 125px;
    width: 400px;
    margin-top: 20px;
    display: none;
}

.stats {
    position: relative;
    width: 480px;
    height: 480px;
    justify-content: flex-start;
    display: none;
}

.stats p:first-child {
    position: relative;
    top: -25px;
    width: 100%;
    margin-bottom: 0;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.lists {
    display: flex;
    justify-content: center;
}

.lists ul {
    list-style-type: none;
}

.lists ul li {
    margin-top: 14px;
    font-size: 1.1rem;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.lists ul hr {
    margin-top: -2px;
}

.lists ul:first-child {
    padding: 39px 30px 25px;
    margin: 0 15px 0 0;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
}

.lists ul:first-child li {
    text-align: right;
}

.lists ul:last-child {
    margin: 0 30px 0 0;
    padding: 0 15px;
}

.lists ul:last-child li {
    text-align: center;
}

.lists ul:last-child li:first-child {
    margin-left: 3px;
    letter-spacing: 1px;
    border: none;
}

#msg {
    width: 401px;
}

#msg p {
    margin: 0;
    font-size: 3rem;
    line-height: 70px;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
}

#required {
    background-color: rgb(224, 35, 35);
    position: fixed;
    top: 210px;
    right: 20px;
    width: 90px;
    padding: 0 6px 0 18px;
    height: 95px;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

input {
    width: 72px;
    line-height: 20px;
    border-radius: 2px;
    margin: 5px 0 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

#action {
    position: relative;
    top: 100px;
    right: 50px;
    background-color: rgb(94, 171, 162);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 50px;
    margin-top: 20px;
    transition: all 0.15s;
    display: none;
}

#action p {
    margin: 0;
    line-height: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

#sets {
    position: relative;
    top: 48px;
    left: 160px;
    background-color: rgb(94, 171, 162);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 80px;
    height: 50px;
    transition: all 0.15s;
    display: none;
}

#sets p {
    margin: 0;
    line-height: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

#timer {
    position: relative;
    top: 70px;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    transition: all 0.15s;
    display: none;
}

#timer p {
    margin: 0;
    line-height: 150px;
    text-align: center;
    font-size: 6rem;
    font-weight: 500;
    color: white;
}

#exercise p {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height: 800px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#settings {
    height: 80px;
    line-height: 70px;
    width: 200px;
    background-color: rgb(94, 171, 162);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    letter-spacing: 0.3px;
    transition: 0.3s;
    margin-right: 10px;
}

#settings:disabled{
    opacity: 0.3;
}

#settings:enabled{
    opacity: 1;
}

#saveSettings {
    position: relative;
    line-height: 35px;
    width: 120px;
    background-color: rgb(94, 171, 162);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    letter-spacing: 0.5px;
    transition: 0.3s;
}



#resetSettings {
    line-height: 30px;
    width: 60px;
    background-color: rgb(81, 145, 137);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

#fullscreen {
    position: fixed;
    opacity: 0.6;
    right: 20px;
    bottom: 20px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

#fullscreen:hover {
    transform: scale(1.1);
    opacity: 1;
}

.slideContainer {
    width: 75%;
    margin-top: 200px;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
}

.slider {
    -webkit-appearance: none;
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 200px;
    height: 8px;
    background: linear-gradient(90deg, rgb(214, 214, 214) 60%, rgb(214, 214, 214) 60%);
    outline: none;
    opacity: 0.4;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

#volume {
    left: 30px;
    bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 3px;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 160px;
    text-align: right;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 1em;
}

label,
input {
    margin-bottom: -5px;
}

#save-preset {
    line-height: 30px;
    width: 120px;
    background-color: rgb(44, 103, 114);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

#save-preset:hover{
    background-color: rgb(60, 128, 139);
}

#load-preset:hover{
    background-color: rgb(60, 128, 139);
}

#saveSettings:hover{
    background-color: rgb(60, 128, 139);
}

#load-preset {
    line-height: 30px;
    width: 120px;
    background-color: rgb(37, 145, 172);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

#main-buttons {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 410px;
}

#ye-boi {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 415px;
}

/* Dotted border */
hr.dotted {
    position: relative;
    top: 412px;
    border-top: 1px dotted #bbb;
  }

#preset-code {
    width: 32%;
    margin: 8px 0;
}


input[type=text],
input[type=number]{
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    box-sizing: border-box;
    outline: none;
    transition: 0.5s;
}

input[type=text]:focus,
input[type=number]:focus{
    border: 2px solid #555;
}


#stats {
    line-height: 0;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5px;
    display:inline-block;
    text-align: right;
}

.active-time-stat {
    padding: 0;
}

.parent {
    padding: 1.5rem;
    display:flex;
    justify-content: flex-end;
}

.child {
    padding: 0.3rem;
}

.active-time-stat-child {
    float: left;
}

#topper{
    margin: 10px;
    top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#preset-display {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-right: 240px;
}